<div class="max-w-md  mt-4 ">
    <ul>
        <li class="text-lg transition-transform transform hover:scale-110 mb-2">
            <span class="font-bold">Gmail: </span> <a href="mailto:genacura4@gmail.com" target="_blank" rel="noopener" >genacura4@gmail.com</a>
        </li>
        <li class="text-lg  transition-transform transform hover:scale-110 mb-2">
            <span class="font-bold">LinkedIn: </span> <a href="https://www.linkedin.com/in/genaro-cura-7275581ba/" target="_blank" rel="noopener">genaro-cura</a>
        </li>
        <li class="text-lg transition-transform transform hover:scale-110">
            <span class="font-bold">GitHub: </span><a href="https://github.com/GenaroCura" target="_blank" rel="noopener">GenaroCura</a>
        </li>
    </ul>
</div>