<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full mx-auto xl:w-[1120px] mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:flex-col md:items-center md:justify-center">
        <div class="flex flex-col items-center mt-2 text-sm font-medium text-white/90">
            <span class="text-sm sm:text-center text-yellow-700/90 mb-2">© 2024 <a href="https://github.com/GenaroCura" target="_blank" rel="noopener" class="hover:transicion">Genaro Curá</a>. Todos los creditos</span>
        </div>
    </div>
</footer>