---
import DowloadIcon from "./icons/DowloadIcon.astro";
---

<astro-fragment>
  <h2 class="text-md text-pretty max-w-[700px] mb-4 mt-4">
    Soy un desarrollador Web Full Stack
      con un fuerte enfoque en el desarrollo back-end y experiencia en
      tecnologías como <span class="text-yellow-600"></span>TypeScript ,Node.js, Express, PostgreSQL, y Sequelize.</span
    > Me caracterizo por ser una persona responsable y cooperativa, valores que considero
    fundamentales para la colaboración efectiva en equipos. Mi objetivo principal
    es continuar mi aprendizaje y expandir mis conocimientos, aplicándolos en proyectos
    que aborden problemas reales.
  </h2>
  <div class="flex flex-col items-center mb-4 mt-5">
    <a
      href="https://docs.google.com/document/d/1oakGy7aGO_YiGKRmywLszHT57asmYXWzUy-rsndHh18/edit?tab=t.0"
      target="_blank"
      rel="noopener"
    >
      <button
        class="flex px-3 py-3 text-sm font-medium hover:scale-110 transition
          bg-white border border-white/15 rounded-full
          focus:z-10 bg-white/10
          dark:hover:bg-gray-700"
      >
        <DowloadIcon class="size-5 mr-2" />
        Descargar CV
      </button>
    </a>
  </div>
</astro-fragment>
